
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="<%= compilation.options.plugins.find(plugin => plugin.constructor.name === 'HtmlWebpackPlugin').options.metaDesc %>  " />
  <title><%= compilation.options.plugins.find(plugin => plugin.constructor.name === 'HtmlWebpackPlugin').options.title %></title>
  <style>
    html, body, * {
      margin: 0px;
      padding: 0px;
    }
    :root {
      --canvas-size: min(1vw, 1vh);
    }
    @media (orientation: landscape) {
      :root {
        --canvas-size: 100vh;
      }
    }
    @media (orientation: portrait) {
      :root {
        --canvas-size: 100vw;
      }
    }
    canvas {
      cursor: pointer;
      width: var(--canvas-size) !important;
      height: var(--canvas-size) !important;
    }
  </style>
  </head>
  <body>
    <script>
    <%= compilation.assets['anybody-problem.js'].source()  %>
  // var s = function(p) {
  //   p.preload = async () => {};
  //   p.setup = async () => {
  //     anybody = new Anybody(p, { mode: "nft", seed: 0n });
  //   };
  //   p.draw = async () => {
  //     anybody.draw();
  //   };
  // };
  // new p5(s);

    </script>
  </body>
</html>